mixin specialization-box
  .specialization-box.grid-item
    .img-box
      img(src="./img/main/specialization-works-item.jpg", alt="Рабочий процесс").img
    .specialization-box__description
      .title-3
        span.title-3_color 01. 
        | Исследование и упаковка
      .text-1 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a(href="#!").link Подробнее