<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap"/>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <nav class="nav nav-mobile d-flex mg-left-a">
          <button class="nav-btn"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></button>
          <div class="nav-mobile-container"><a class="nav__link fw-500" href="#!">Главная</a><a class="nav__link fw-500" href="#!">Наши проекты</a><a class="nav__link fw-500" href="#!">Услуги</a><a class="nav__link fw-500" href="#!">Новости</a><a class="nav__link fw-500" href="#!">Контакты</a>
          </div>
        </nav>
        <div class="wrap">
          <nav class="nav d-flex mg-left-a"><a class="nav__link fw-500" href="#!">Главная</a><a class="nav__link fw-500" href="#!">Наши проекты</a><a class="nav__link fw-500" href="#!">Услуги</a><a class="nav__link fw-500" href="#!">Новости</a><a class="nav__link fw-500" href="#!">Контакты</a>
          </nav>
        </div>
      </div>
      <div class="wrap">
        <div class="text-4">Передовая IT студия</div>
        <div class="title-1 centered">Мы создаем легкие решения сложных задач и проблем</div>
        <div class="btn-box">
          <div class="btn centered">Наши проекты</div>
        </div>
      </div>
    </header>
  </body>
</html>